[core]
  excludeFile = ~/.config/git/ignore
[user]
	email = javi_mr@me.com
	name = javimaellas
[init]
	defaultBranch = main
[pull]
	rebase = true
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
  insteadOf = https://gitlab.com/
